/**
 * @file
 * This file is used to style the trip-advisor section.
 */

.awards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.awards--image {
  text-align: center;
  width: 100%;
  @include breakpoint($medium) {
    width: auto;
  }

  img {
    width: 150px;
  }

}
