/**
 * @file
 * This file that creates the CSS for the header region.
 */

.header {
  background: $c-primary;
  padding: 0 0 4px;
  @include breakpoint($large) {
    padding: 1rem 0;
  }
  a {
    color: $white;
    padding-bottom: 8px;
  }
}

.header .container {
  @extend .mobile-padding;
  display: flex;
}

.header .site-name {
  margin-top: .5rem;
  width: 67%;
  @include breakpoint($large) {
    width: 30%;
  }
}

.header .nav {
  position: absolute;
  right: 0;
  width: 33%;
  @include breakpoint($large) {
    width: 70%;
  }
}
