/**
 * @file
 * This file creates the styling for the a elements.
 */

a {
  color: $c-primary;
  text-decoration: none;
}

.field--type-text-long a {
  border-bottom: 1px solid $c-primary;
  color: $c-grey--darkest;
}
